{block content}
    <div class="row">
        <div class="col-lg-10">
            <h1>Nové téma fóra</h1>

            <div class="panel panel-default">
                <div class="panel-body">
                    {control newThemeForm}
                </div>
            </div>
        </div>
    </div>
{/block}