{block content}
    <div class="row">
        <div class="col-lg-10">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nová zpráva
                </div>
                <div class="panel-body">
                    {control newMessageForm}
                </div>
                <div class="panel-footer">
        
                </div>
            </div>
        </div>
    </div>
{/block}