{block content}
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Hlášení bugů
                </div>
                <div class="panel-body foo bar">
                    {control bugForm}
                </div>
            </div>

        </div>
    </div>
{/block}