{block content}
    <div class="row">
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Návrh na update
                </div>
                <div class="panel-body foo bar">
                    {control updateForm}
                </div>
            </div>

        </div>
    </div>
{/block}